<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?sensor=true">
    //  src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&sensor=SET_TO_TRUE_OR_FALSE">
    </script>
    <script type="text/javascript" src="/static/socket.io.js"></script>
    <script type="text/javascript">
      function initialize() {
        var dancingFactor = 1.0001;
        var myLatLng1 = new google.maps.LatLng({{ lat }}, {{ lng }});
        var myLatLng2 = new google.maps.LatLng({{ lat }} * dancingFactor, {{ lng }} * dancingFactor);
        var curLatLng = myLatLng1;
        var mapOptions = {
          center: curLatLng,
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.TERRAIN
          };
        var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
        var map_overlay = new google.maps.KmlLayer('https://github.com/gizero/resegup-kml-test/raw/master/resegup2012.kmz');
        map_overlay.setMap(map);
        var marker = new google.maps.Marker({
          position: curLatLng,
          title: "the sweeping sweep!"
        });
        marker.setMap(map);
        window.setInterval(function() {
          curLatLng = (curLatLng == myLatLng1) ? myLatLng2 : myLatLng1;
          marker.setPosition(curLatLng);
        }, 3000);
      }
      google.maps.event.addDomListener(window, 'load', initialize);

      var socket = io.connect('/stream');
      socket.on('connect', function() {
        console.log("socket connected");
      });
      socket.on('disconnect', function() {
        console.log("socket disconnected");
      });
    </script>
    <script>
      addMessage = function(text) {
        console.log("addMessage() says: \"" + text + "\"")
      }
    </script>
  </head>
  <body>
    <div id="map-canvas"/>
  </body>
</html>
